#wrapper { width: 266px; position: relative; z-index: 1; }

#txt { color: #EAEAEA; }


#wheel {
    position: relative; overflow: hidden; border: 8px solid #FFFFFF; z-index: -1;
    width: 250px; height: 250px; border-radius: 50%;
    box-shadow: rgba(0,0,0,0.2) 0 0 10px, rgba(0,0,0,0.5) 0 3px 0;
    transform: rotate(0deg);
}
#wheel:before {
    content: '';
    position: absolute; width: 242px; height: 242px; z-index: 1000;
    border: 4px solid rgba(0,0,0,0.1); border-radius: 50%;
}

#inner-wheel {
    width: 100%; height: 100%; animation: rotate 1s linear infinite;
}
#splash-inner-wheel {
    width: 100%; height: 100%; animation: rotate 2s linear infinite;
}

.splash-inner-wheel {
    width: 54px; height: 54px; position: absolute;
    top: 50%; left: 50%; margin: -27px 0 0 -27px;
    border-radius: 50%; z-index: 100001; background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 );
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#wheel div.sec {
    position: absolute; width: 0; height: 0;
    border-style: solid; border-width: 130px 75px 0; border-color: #19C transparent;
    transform-origin: 75px 129px;
    left: 50px; top: -4px; opacity: 1;
}

#wheel div.sec:nth-child(1) {
    border-color: #16A085 transparent;
    transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -o-transform: rotate(60deg); -ms-transform: rotate(60deg);
}
#wheel div.sec:nth-child(2) {
    border-color: #2980B9 transparent;
    transform: rotate(120deg); -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -o-transform: rotate(120deg); -ms-transform: rotate(120deg);
}
#wheel div.sec:nth-child(3) {
    border-color: #34495e transparent;
    transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg);
}
#wheel div.sec:nth-child(4) {
    border-color: #f39c12 transparent;
    transform: rotate(240deg); -webkit-transform: rotate(240deg); -moz-transform: rotate(240deg); -o-transform: rotate(240deg); -ms-transform: rotate(240deg);
}
#wheel div.sec:nth-child(5) {
    border-color: #d35400 transparent;
    transform: rotate(300deg); -webkit-transform: rotate(300deg); -moz-transform: rotate(300deg); -o-transform: rotate(300deg); -ms-transform: rotate(300deg);
}
#wheel div.sec:nth-child(6) {
    border-color: #c0392b transparent;
    transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg);
}

#wheel div.sec .fa {
    position: relative; display: block; text-align: center;
    margin-left: -15px; margin-top: -100px; z-index: 10000000;
    color: rgba(0,0,0,0.2);
    font-size: 36px;
    text-shadow: rgba(255,255,255,0.1) 0 -1px 0, rgba(0,0,0,0.2) 0 1px 0;
}

#spin {
    width: 68px; height: 68px; position: absolute; top: 50%; left: 50%;
    margin: -34px 0 0 -34px; border-radius: 50%;
    box-shadow: rgba(0,0,0,0.1) 0 3px 0;
    z-index: 1000;
    background: white; cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
#spin:after {
    content: "Roll!"; text-align: center; letter-spacing: .5px; line-height: 68px; color: #353535;
    position: relative; z-index: 100000; width: 68px; height: 68px; display: block;
}
#spin:before {
    content: ""; position: absolute; width: 0; height: 0;
    border-style: solid; border-width: 0 20px 28px 20px; border-color: transparent transparent #FFFFFF transparent;
    top: -12px; left: 14px;
}

#inner-spin {
    width: 54px; height: 54px;
    position: absolute; top: 50%; left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    background: red; z-index: 999;
    box-shadow: rgba(255,255,255,1) 0 -2px 0 inset, rgba(255,255,255,1) 0 2px 0 inset, rgba(0,0,0,0.4) 0 0 5px;

    background: rgb(255,255,255);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#spin:active #inner-spin { box-shadow: rgba(0,0,0,0.4) 0 0 5px inset; }
#spin:active:after { font-size: 15px; }

#shine {
    width: 250px; height: 250px; position: absolute; top: 0; left: 0;
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.91) 9%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 0.1;
}

@-webkit-keyframes hh {
    0%, 100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    50%{
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
    }
}

@keyframes hh {
    0%, 100%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    50%{
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
    }
}

.spin {
    -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
}
